.contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 10px 0 100px 0px;
  height: auto;
  border: 2px solid black;
  padding: 30px;
  position: static;
}
#detalles {
  color: blue;
  width: auto;
}
#texto {
  display:none;
}
#detalles:hover{
  text-decoration: underline;
}
#detalles:hover + #texto {
  display:block;
}
